.waiting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.waiting-header {
  width: 95%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.waiting-header span {
  font-size: 4vh;
  text-align: center;
  margin-block: 1vh;
}

hr {
  border: none;
  height: 0.5vh;
  background-color: #8BC34AFF;
  opacity:1;
}

.waiting-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
}
