.category-title {
  font-size: 2vh;
}

.category-title {
  display: flex;
  align-items: center;
}

.category {
  margin-bottom: 6vh;
}

.category-icon {
  height: 3vh;
  width: 4vh;
  margin-right: .5vh;
}

.category-icon mat-icon {
  font-size: 4vh;
}

.category-title-text {
  margin-top: 1.5vh;
  font-size: 3vh;
}

.category-time {
  font-size: 1.4vh;
  margin: 0.5vh;
  color: #656464;
}

hr {
  border: none;
  height: 5px;
  background-color: #8BC34AFF;
  opacity:1;
  margin: 0;
}

.category-up {
  width: fit-content;
  margin-block: 2vh;
}

.status-container {
  margin-inline: 5vh;
}

.category-container {
  margin-bottom: 2vh;
}
