<div class="game-leaderboard-container">
  <div class="leaderboard">
    <span class="title">Leaderboard</span>
    <div class="ranks">
      <div class="player-rank" *ngFor="let playerScore of leaderboard">
        <img class="medal-img" src="assets/{{getMedalNameByRank(playerScore.rank)}}.png">
        <span> Tablet {{playerScore.tabletId}} :
        <span class="text-score">{{playerScore.score}}</span>
      </span>
      </div>
    </div>
  </div>
  <button class="stop-game-button" (click)="redirectToSleepMode()">Start the meal</button>
</div>
