.game-leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F3F3F3F3;
  padding: 2vh;
  border-radius: 3%;
}

.stop-game-button {
  font-size: 4vh;
  height: 7vh;
  border: #619461 solid 3px;
  color: white;
  background-color: #8BC34AFF;
  cursor: pointer;
  margin-top: 2vh;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3vh;
  margin-block: 2vh;
}

.medal-img {
  width: 4vh;
  height: 4vh;
}

.ranks {
  border: solid 0.5vh #8BC34AFF;
  border-radius: 5px;
  background-color: white;
}

.player-rank {
  margin: 1vh;
  font-size: 2vh;

}

.text-score {
  font-size: 3vh;
}
