  .item-box {
      height: 23vh;
      width: 20vh;
      text-align: center;
      border-radius: 5%;
      position: relative;
      background-color: rgb(232, 232, 232);
      cursor: pointer;
      font-size: 1.6vh;
  }
  .itemWrapper{
    padding-bottom: 25vh;
  }

  .item-box:hover {
    background-color: rgb(204, 204, 204);
  }

  .item-box:active {
    background-color: #C5E1A5FF;
    box-shadow: 0 5px #8BC34AFF;
    transform: translateY(4px);
  }

.image-container {
    height: 60%;
    overflow: hidden;
    border-radius: 5%;
  }

  .item-image {
    max-height: 100%;
    border-radius: 5%;
  }

  .price {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #C5E1A5FF;
    border: 3px solid #8BC34AFF;
    border-radius: 23% 0 50% 0;
  }

  .item-description {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sort-buttons-container {
    display: flex;
  }

  .sort-button {
    flex-grow: 1;
    border: 3px solid #8BC34AFF;
    font-size: 2vh;
    margin-inline: 2vh;
  }

  .selected-sort {
    background-color: #C5E1A5FF;
  }

  .trend-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .podium-container {
    width: 50%;
  }

  .popular-container {
    width: 50%;
  }

  .podium {
    display: flex;
  }

  .podium-img {
    height: 90%;
  }

  .step {
    height: 40vh;
    width: 33vh;
    text-align: center;
  }

  .round {
    border-radius: 50%;
    position: relative;
    z-index: 50;
  }

  .gold {
    height: 18vh;
    max-width: 18vh;
    top: -31vh;
    border: 5px solid #FFD600FF;
  }

  .silver {
    height: 15vh;
    max-width: 15vh;
    top: -25.5vh;
    border: 5px solid #BDBDBDFF;
  }

  .bronze {
    height: 14vh;
    max-width: 14vh;
    top: -23.5vh;
    border: 5px solid #CD7F32FF;
  }

  .podium-text {
    position: relative;
    top: -14vh;
    font-size: 2.5vh;
    line-height: 2.5vh;
  }

  hr {
    border: none;
    height: 5px;
    background-color: #8BC34AFF;
    opacity:1;
  }

  .button-add {
    font-size: 2vh;
    border-radius: 25px;
    height: 5vh;
    border: #8BC34AFF solid 3px;
    background-color: #C5E1A5FF;
  }

  .best-text {
    line-height:1;
    text-align: center;
    font-size: 2.5vh;
    background: linear-gradient(90deg, rgba(186,148,62,1) 0%, rgba(236,172,32,1) 20%, rgba(186,148,62,1) 39%, rgba(249,244,180,1) 50%, rgba(186,148,62,1) 60%, rgba(236,172,32,1) 80%, rgba(186,148,62,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite;
    background-size: 200%;
    background-position: left;

  }
  @keyframes shine {
    to {
      background-position: 120% 0;
    }
  }


  .goldText{
    color: #bfa100;
  }
  .silverText{
    color: #9f9f9f;
  }
  .bronzeText{
    color: #CD7F32FF;
  }
  .goldButton{
    background-color: gold;
    border: #a08704 solid 3px;
  }
  .silverButton{
    background-color: #f6f2f2;
    border: #8a8686 solid 3px;
  }
  .bronzeButton{
    background-color: #CD7F32FF;
    border: #7d4d1e solid 3px;
  }

  .medal {
    position: absolute;
    top: -2vh;
    right: -1vh;
    z-index: 100;
  }

  .no-item {
    text-align: center;
    font-size: 3vh;
  }
