<div id="confirmation-page">
  <div id="confirmation-header">
    <div class="back-arrow-icon-container" (click)="redirectToCatalog()">
      <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
        <mat-icon>arrow_circle_left</mat-icon>
      </button>
    </div>
    <p>SUMMARY</p>
    <span></span>
  </div>
  <div id="confirmation-body">
    <app-basket-summary></app-basket-summary>
  </div>
  <div id="confirmation-footer">
    <p>TOTAL : 56,19$</p>
    <button mat-raised-button color="primary">CONFIRM</button>
  </div>
</div>
