.category-title {
  display: flex;
  align-items: center;
}

.category {
  margin-bottom: 6vw;
}

.category-icon {
  height: 7vw;
  width: 7vw;
  margin-right: .5vw;
}

.category-icon mat-icon {
  font-size: 7vw;
}

.category-text {
  margin-top: 1.5vw;
  font-size: 5vw;
}

hr {
  border: none;
  height: 5px;
  background-color: #8BC34AFF;
  opacity:1;
}

.category-up {
  width: fit-content;
}

.item-list {
  font-size: 2vw;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.right-infos {
  align-items: center;
  width: 23%;
  display: flex;
  justify-content: space-between;
}

.right-infos-no-edit {
  align-items: center;
  display: flex;
  justify-content: end;
}

.left-infos {
  max-width: 77%;
  flex-wrap: nowrap;
  display: flex;
}

.left-infos-no-edit {
  flex-wrap: nowrap;
  display: flex;
}

.mat-mini-fab {
  color: white;
  font-size: 2vw;
}

.edit-buttons {
  display: flex;
}

.prefix {
  display: inline-block;
  white-space: nowrap;
}

.white-font {
  color: white;
}
