<div class="background-div">
  <img class="logo"
    src="../../../assets/resto-logo.png"
  />
  <div class="icon-bar">
    <div class="menu-type-div">
      <div class="title">
        Starters
      </div>
    </div>
    <div class="menu-type-div">
      <div class="title">
        Mains
      </div>
    </div>
    <div class="menu-type-div">
      <div class="title">
        Dessert
      </div>
    </div>
    <div class="menu-type-div">
      <div class="title">
        Beverages
      </div>
    </div>
  </div>
</div>
