<div class="sort-buttons-container mt-2" *ngIf="inputCategory != 'TREND'">
  <button mat-stroked-button
          class="sort-button"
          [class.selected-sort]="selectedSortOption == 'nameAsc'"
          (click)="setSortOption('nameAsc')">Name (ascending)
  </button>
  <button mat-stroked-button
          class="sort-button"
          [class.selected-sort]="selectedSortOption == 'nameDesc'"
          (click)="setSortOption('nameDesc')">Name (descending)
  </button>
  <button mat-stroked-button
          class="sort-button"
          [class.selected-sort]="selectedSortOption == 'priceAsc'"
          (click)="setSortOption('priceAsc')">Price (ascending)
  </button>
  <button mat-stroked-button
          class="sort-button"
          [class.selected-sort]="selectedSortOption == 'priceDesc'"
          (click)="setSortOption('priceDesc')">Price (descending)
  </button>
</div>

<div class="w-100 d-flex justify-content-center flex-wrap itemWrapper" *ngIf="inputCategory != 'TREND'">
    <div *ngFor="let item of filteredMenuItems">
      <div class="item-box m-2" (click)="addItemToBasket(item)">
        <div class="price py-1 px-2">
          <p class="m-0">{{ item.price }}$</p>
        </div>
        <div class="image-container w-100">
          <img [src]="item.image.toString()" alt="{{ item.shortName }}" class="item-image">
        </div>
        <div class="p-1 item-description" [truncateText]="62">
          <p class="m-0">{{ item.fullName }}</p>
        </div>
      </div>
    </div>
</div>

<div style="padding-inline: 5%" *ngIf="inputCategory == 'TREND'">
  <p style="font-size: 5vw; text-align: center; margin-bottom: 2vw" class="mt-5">Most popular items</p>
  <hr>
</div>

<div *ngIf="inputCategory == 'TREND'">
  <div class="podium">
    <div class="step mt-4">
      <img src="assets/podium-silver.png" alt="Podium or médaille d'or" class="podium-img">
      <img src="assets/image-2.jpg" alt="Image 1" class="round silver">
      <div class="podium-text" style="top: -14vw;">
        <p>Ouais Ouais Ouais Ouais Ouais Ouais Ouais Ouais </p>
        <button mat-raised-button class="button-add" style="width: 25vw;">
          <span>Add to basket</span>
        </button>
      </div>
    </div>
    <div class="step mt-4">
      <img src="assets/podium-gold.png" alt="Podium or médaille d'or" class="podium-img">
      <img src="assets/image-2.jpg" alt="Image 1" class="round gold">
      <div class="podium-text" style="top: -17vw;">
        <p>Ouais Ouais Ouais Ouais Ouais Ouais Ouais Ouais </p>
        <button mat-raised-button class="button-add" style="width: 25vw;">
          <span>Add to basket</span>
        </button>
      </div>
    </div>
    <div class="step mt-4">
      <img src="assets/podium-bronze.png" alt="Podium or médaille d'or" class="podium-img">
      <img src="assets/image-2.jpg" alt="Image 1" class="round bronze">
      <div class="podium-text" style="top: -13vw;">
        <p>Ouais Ouais Ouais Ouais Ouais</p>
        <button mat-raised-button class="button-add" style="width: 25vw;">
          <span>Add to basket</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div style="padding-inline: 5%" *ngIf="inputCategory == 'TREND'">
  <p style="font-size: 5vw; text-align: center; margin-top: 20vw; margin-bottom: 2vw">Most popular menu</p>
  <hr>
</div>

<div *ngIf="inputCategory == 'TREND'" class="w-100 d-flex justify-content-center flex-wrap">
  <div *ngFor="let item of filteredMenuItems">
    <div class="item-box m-2" (click)="addItemToBasket(item)">
      <div class="price py-1 px-2">
        <p class="m-0">{{ item.price }}$</p>
      </div>
      <div class="medal">
        <img style="height: 8vw; width: auto" src="../../../assets/1st-medal.png">
      </div>
      <div class="image-container w-100">
        <img [src]="item.image.toString()" alt="{{ item.shortName }}" class="item-image">
      </div>
      <div class="p-1 item-description" [truncateText]="62">
        <p class="m-0">{{ item.fullName }}</p>
      </div>
    </div>
    <div class="best-text mt-3">
      Best {{ item.category.toLocaleLowerCase() }}
    </div>
  </div>
  <button mat-raised-button class="button-add mt-4" (click)="addFullMenu()">
    <span>Add the full menu to the basket ({{ this.trendingItemPrice }}$)</span>
  </button>
</div>

