  .item-box {
      height: 23vw;
      width: 23vw;
      text-align: center;
      border-radius: 5%;
      position: relative;
      background-color: rgb(232, 232, 232);
      cursor: pointer;
  }

  .item-box:hover {
    background-color: rgb(204, 204, 204);
  }

  .item-box:active {
    background-color: #C5E1A5FF;
    box-shadow: 0 5px #8BC34AFF;
    transform: translateY(4px);
  }

.image-container {
    height: 70%;
    overflow: hidden;
    border-radius: 5%;
  }

  .item-image {
    max-height: 100%;
    border-radius: 5%;
  }

  .price {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #C5E1A5FF;
    border: 3px solid #8BC34AFF;
    border-radius: 23% 0 50% 0;
  }

  .item-description {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sort-buttons-container {
    display: flex;
    justify-content: space-evenly;
  }

  .sort-button {
    width: 23vw;
    border: 3px solid #8BC34AFF;
  }

  .selected-sort {
    background-color: #C5E1A5FF;
  }
