<div class="sort-buttons-container mt-2">
  <button mat-stroked-button
          class="sort-button"
          [class.selected-sort]="selectedSortOption == 'nameAsc'"
          (click)="setSortOption('nameAsc')">Name (ascending)
  </button>
  <button mat-stroked-button
          class="sort-button"
          [class.selected-sort]="selectedSortOption == 'nameDesc'"
          (click)="setSortOption('nameDesc')">Name (descending)
  </button>
  <button mat-stroked-button
          class="sort-button"
          [class.selected-sort]="selectedSortOption == 'priceAsc'"
          (click)="setSortOption('priceAsc')">Price (ascending)
  </button>
  <button mat-stroked-button
          class="sort-button"
          [class.selected-sort]="selectedSortOption == 'priceDesc'"
          (click)="setSortOption('priceDesc')">Price (descending)
  </button>
</div>

<div class="w-100 d-flex justify-content-center flex-wrap">
    <div *ngFor="let item of filteredMenuItems">
      <div class="item-box m-2" (click)="addItemToBasket(item)">
        <div class="price py-1 px-2">
          <p class="m-0">{{ item.price }}$</p>
        </div>
        <div class="image-container w-100">
          <img [src]="item.image.toString()" alt="{{ item.shortName }}" class="item-image">
        </div>
        <div class="p-1 item-description" [truncateText]="62">
          <p class="m-0">{{ item.fullName }}</p>
        </div>
      </div>
    </div>
</div>

