<div class="sort-buttons-container mt-2" *ngIf="inputCategory != 'TREND'">
  <button mat-stroked-button
          class="sort-button"
          [class.selected-sort]="selectedSortOption == 'nameAsc'"
          (click)="setSortOption('nameAsc')">Name (ascending)
  </button>
  <button mat-stroked-button
          class="sort-button"
          [class.selected-sort]="selectedSortOption == 'nameDesc'"
          (click)="setSortOption('nameDesc')">Name (descending)
  </button>
  <button mat-stroked-button
          class="sort-button"
          [class.selected-sort]="selectedSortOption == 'priceAsc'"
          (click)="setSortOption('priceAsc')">Price (ascending)
  </button>
  <button mat-stroked-button
          class="sort-button"
          [class.selected-sort]="selectedSortOption == 'priceDesc'"
          (click)="setSortOption('priceDesc')">Price (descending)
  </button>
</div>

<div class="w-100 d-flex justify-content-center flex-wrap itemWrapper" *ngIf="inputCategory != 'TREND'">
    <div *ngFor="let item of filteredMenuItems">
      <div class="item-box m-2" (click)="addItemToBasket(item)">
        <div class="price py-1 px-2">
          <p class="m-0">{{ item.price }}$</p>
        </div>
        <div class="image-container w-100">
          <img [src]="item.image.toString()" alt="{{ item.shortName }}" class="item-image">
        </div>
        <div class="p-1 item-description" [truncateText]="62">
          <p class="m-0">{{ item.fullName }}</p>
        </div>
      </div>
    </div>
</div>

<div style="padding-inline: 5%" *ngIf="inputCategory == 'TREND'">
  <p style="font-size: 5vw; text-align: center; margin-bottom: 2vw" class="mt-5">Most popular items</p>
  <hr>
</div>

<div *ngIf="inputCategory == 'TREND' && trendingItems.length == 0">
  <p class="no-item mt-4">No items to display</p>
</div>

<div *ngIf="inputCategory == 'TREND' && trendingItems.length != 0">
  <div class="podium" [ngClass]="{'justify-content-center': trendingItems.length == 1}">
    <div class="step mt-4 silverImage" *ngIf="trendingItems.length >= 2">
      <button mat-raised-button class="button-add silverButton" (click)="addItemToBasket(trendingItems[1])">
        <span>Add to basket ({{ trendingItems[1]?.price }}$)</span>
      </button>
      <img src="assets/podium-silver.png" alt="Podium silver" class="podium-img">
      <img [src]="trendingItems[1]?.image?.toString()" alt="{{ trendingItems[1]?.shortName }}" class="round silver">
      <div class="podium-text" style="top: -14vw;">
        <p class="silverText">{{ trendingItems[1]?.fullName }}</p>
      </div>
    </div>
    <div class="step mt-4">
      <button mat-raised-button class="button-add goldButton" (click)="addItemToBasket(trendingItems[0])">
        <span>Add to basket ({{ trendingItems[0].price }}$)</span>
      </button>
      <img src="assets/podium-gold.png" alt="Podium or" class="podium-img">
      <img [src]="trendingItems[0].image.toString()" alt="{{ trendingItems[0].shortName }}" class="round gold">
      <div class="podium-text" style="top: -17vw;">
        <p class="goldText">{{ trendingItems[0].fullName }}</p>
      </div>
    </div>
    <div class="step mt-4" *ngIf="trendingItems.length == 3">
      <button mat-raised-button class="button-add bronzeButton" (click)="addItemToBasket(trendingItems[2])">
        <span>Add to basket ({{ trendingItems[2]?.price }}$)</span>
      </button>
      <img src="assets/podium-bronze.png" alt="Podium bronze" class="podium-img">
      <img [src]="trendingItems[2]?.image?.toString()" alt="{{ trendingItems[2]?.shortName }}" class="round bronze">
      <div class="podium-text" style="top: -13vw;">
        <p class="bronzeText">{{ trendingItems[2]?.fullName }}</p>
      </div>
    </div>
  </div>
</div>

<div style="padding-inline: 5%" *ngIf="inputCategory == 'TREND'">
  <p style="font-size: 5vw; text-align: center; margin-top: 20vw; margin-bottom: 2vw">Most popular menu</p>
  <hr>
</div>

<div *ngIf="inputCategory == 'TREND' && trendingCategoryItem.length == 0">
  <p class="no-item mt-4">No items to display</p>
</div>

<div *ngIf="inputCategory == 'TREND' && trendingCategoryItem.length != 0" class="w-100 d-flex justify-content-center flex-wrap">
  <div *ngFor="let item of filteredMenuItems">
    <div class="best-text mb-3">
      Best {{ item.category.toLocaleLowerCase() }}
    </div>
    <div class="item-box m-2" (click)="addItemToBasket(item)">
      <div class="price py-1 px-2">
        <p class="m-0">{{ item.price }}$</p>
      </div>
      <div class="medal">
        <img style="height: 8vw; width: auto" src="../../../assets/1st-medal.png" alt="Medal">
      </div>
      <div class="image-container w-100">
        <img [src]="item.image.toString()" alt="{{ item.shortName }}" class="item-image">
      </div>
      <div class="p-1 item-description" [truncateText]="62">
        <p class="m-0">{{ item.fullName }}</p>
      </div>
    </div>
    <div class="best-text">
      Best {{ item.category.toLocaleLowerCase() }}
    </div>
  </div>
</div>
<div *ngIf="inputCategory == 'TREND' && trendingCategoryItem.length != 0" class="d-flex justify-content-center">
  <button mat-raised-button class="button-add mt-4 AddFullMenu" (click)="addFullMenu()">
    <span>Add the full menu to the basket ({{ this.trendingCategoryItemPrice }}$)</span>
  </button>
</div>


