<div class="header">
  <img class="logo" src="assets/resto-logo.png" alt="RESTo app logo">
  <p class="welcome-text">Welcome to RESTo</p>
</div>


<!--Affichage panier global-->
<!--Bouton valider la commande si tout le monde à valider son panier perso-->
<!--Suivi de la commande-->
<!--"Jeux" (juste montrer que ca communique entre les tablette)-->

<div class="people-number-title">Where are you all sitting?</div>
<div class="people-number-buttons">
  <button class="number three" (click)="selectTab(3)">3</button>
  <div class="one-and-two">
    <button class="number one" (click)="selectTab(1)">1</button>
    <button class="number two" (click)="selectTab(2)">2</button>
  </div>
  <button class="number four" (click)="selectTab(4)">4</button>
</div>
<div class="payment-method-title">Do you want to pay together or separately?</div>
<div class="payment-method-buttons">
  <button class="together" (click)="selectPaymentMethod()">Together</button>
  <button class="separately">Separately</button>
</div>
