<div class="header">
  <img class="logo" src="assets/resto-logo.png" alt="RESTo app logo">
  <p class="welcome-text">Welcome to RESTo</p>
</div>


<!--Affichage panier global-->
<!--Bouton valider la commande si tout le monde à valider son panier perso-->
<!--Suivi de la commande-->
<!--"Jeux" (juste montrer que ca communique entre les tablette)-->

<div class="people-number-title">How many people are you?</div>
<div class="people-number-buttons">
  <button class="number">1</button>
  <button class="number">2</button>
  <button class="number">3</button>
  <button class="number">4</button>
</div>
<div>Do you want to pay together or separately?</div>
<div>
  <button>Together</button>
  <button>Separately</button>
</div>
