<app-switch-to-tabs></app-switch-to-tabs>
<div class="confirm-container">
  <div class="confirm-header">
    <div class="confirm-title">
      <p class="py-4">SUMMARY</p>
      <hr>
    </div>
  </div>
  <div class="sort-buttons-container mt-2">
    <button mat-stroked-button
            class="sort-button"
            [class.selected-sort]="selectedSortOption == 'byPerson'"
            (click)="setSortOption('byPerson')">Individual recap
    </button>
  <button mat-stroked-button
          class="sort-button"
          [class.selected-sort]="selectedSortOption == 'global'"
          (click)="setSortOption('global')">Global recap
  </button>
  </div>

  <div class="confirm-body" *ngIf="selectedSortOption == 'global'">
    <app-basket-summary [finalOrder]="isPaymentPage" ></app-basket-summary>
  </div>
  <div class="confirm-body" *ngIf="selectedSortOption == 'byPerson'">
    <ng-container *ngFor="let tabletId of allTabletteActivated" >
      <div class="category-up">
        <div class="category-title">
          <div class="category-icon" style="color:black">
            <mat-icon>person</mat-icon>
          </div>
          <div class="category-text">
            <span> Customer {{ tabletId }}</span>
          </div>
          <span *ngIf="isCustomerReady(tabletId.toString()); else notReady">
              <div class="category-icon-v2">
                <mat-icon style="color: green;">check</mat-icon>
              </div>

            </span>
          <ng-template #notReady>
            <div class="category-icon-v2">
              <mat-icon style="color: red;">clear</mat-icon>
            </div>
          </ng-template>
        </div>
        <hr style="background-color: #4c4ac3">
      </div>
      <app-basket-summary [finalOrder]="isPaymentPage" [tabletId]="tabletId.toString()"></app-basket-summary>
    </ng-container>
  </div>

  <div class="confirm-footer">
    <div class="confirm-total">
      <hr>
      <p class="py-4">TOTAL: {{ basket_total_price | currency:'USD' }}</p>
      <button *ngIf="!isPaymentPage" class="mb-4 p-3 confirm-button" [disabled]="!isEveryoneReady"
              mat-raised-button (click)="confirmOrder()">  {{'CONFIRM' }}
      </button>
      <button *ngIf="paymentOnEachTab && isPaymentPage" class="mb-4 p-3 confirm-button" mat-raised-button (click)="payOrder()">  {{ 'PAY' }}
      </button>
    </div>
  </div>
</div>
