.confirm-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.confirm-body {
  flex-grow: 1;
  padding-inline: 2.5%;
  max-height: 65%;
  overflow-y: auto;
  margin-top: 2vh;
}

.confirm-header {
  display: flex;
  justify-content: center;
  align-items: end;
  min-height: 12%;
}

.confirm-footer {
  display: flex;
  justify-content: center;
  align-items: start;
}

hr {
  border: none;
  height: 5px;
  background-color: #8BC34AFF;
  opacity:1;
}

.confirm-title {
  font-size: 8vh;
  width: 95%;
  text-align: center;
}

.confirm-total {
  font-size: 5vh;
  width: 95%;
  text-align: center;
}

.confirm-back-button {
  position: absolute;
  top: 2.2vh;
  left: 2.5vh;
}

.button-container {
  height: 5vh;
  width: 5vh;
}


.confirm-button {
  font-size: 5vh;
  border-radius: 25px;
  width: 50vh;
  height: 10vh;
  color: white;
  border: #C5E1A5FF solid 1px;
  background-color: #8BC34AFF;
}

.darker-button{
  background-color: #5f6b51;
}


.sort-button {
  flex-grow: 1;
  border: 3px solid #8BC34AFF;
  font-size: 2vh;
  margin-inline: 2vh;
}

.selected-sort {
  background-color: #C5E1A5FF;
}
.sort-buttons-container {
  display: flex;
}

.category-text {
  margin-top: 5vh;
  font-size: 5vh;
}





.category-up {
  width: fit-content;
  margin-bottom: 3vh;

}
.category-title {
  display: flex;
  align-items: center;
}

.category {
  margin-bottom: 6vh;
}

.category-icon {
  height: 7vh;
  width: 7vh;
  margin-right: .5vh;
}

.category-icon mat-icon {
  font-size: 7vh;
}

.category-text {
  margin-top: 1.5vh;
  font-size: 5vh;
}
