

.admin-panel {
  display: flex;
  background-color: #C5E1A5FF;
  height: 8vh;
  width: 19vh;
  border-bottom-right-radius: 5px;
  font-size: 2vh;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  color: black;
}
.icon-table{
  font-size: 8vh;
  position: absolute;
  top:1vh;
  left:0;
}

.table-number{
  position: relative;
  left: 8vh;
  font-size: 2vh;
}
