<div class="confirm-back-button" (click)="redirectToHome()">
  <button mat-fab color="primary" class="button-container">
    <mat-icon style="transform: scale(2);">arrow_back</mat-icon>
  </button>
</div>


<div class="table tableHorizontal" style="top:0;left:20%;background-color: #619461;border-color: #465b46">
  <div style="margin:auto;margin-bottom: 5px;">tablette 1</div>
  <div style="margin:auto;margin-top:5px;font-size: 20px">didn't order yet</div>
</div>
<div class="table tableHorizontal" style="bottom:0;left:20%; background-color: #d7534a;border-color: #803630">
  <div style="margin:auto;margin-bottom: 5px;">tablette 2</div>
  <div style="margin:auto;margin-top:5px;font-size: 20px">didn't order yet</div>
</div>
<div class="table tableVertical" style="left:0; background-color: aqua;border-color: #206565">
  <div style="margin:auto;margin-bottom: 5px;">tablette 3</div>
  <div style="margin:auto;margin-top:5px;font-size: 20px">didn't order yet</div>
</div>
<div class="table tableVertical" style="right:0; background-color: blueviolet;border-color: #501d80">
  <div style="margin:auto;margin-bottom: 5px;">tablette 4</div>
  <div style="margin:auto;margin-top:5px;font-size: 20px">didn't order yet</div>
</div>
<div class="tablePrincipal" style="left:20%;top:30%; background-color: #31e22b;">
  <div style="margin:auto">tablette principal</div>
</div>
