<body>
  <div class="people-number-title">What screen do you want to turn on?</div>
  <div class="people-number-buttons">
    <button class="number three" #tab3 (click)="selectTab('tab3')">3</button>
    <div class="one-and-two">
      <button class="number one" #tab1 (click)="selectTab('tab1')">1</button>
      <button class="number two" #tab2 (click)="selectTab('tab2')">2</button>
    </div>
    <button class="number four" #tab4 (click)="selectTab('tab4')">4</button>
  </div>

  <div class="exit-sleep-mode">
    <button class="exit-sleep-mode-button" #sleepMode (click)="power()">
      <p class="exit-sleep-mode-text" *ngIf="this.powerUp; else falseBlock">Turn off this screen</p>
      <ng-template #falseBlock>
        <p class="exit-sleep-mode-text">Turn on this screen</p>
      </ng-template>
    </button>
  </div>

  <div class="payment-method-title">Do you want to proceed to the payment?</div>
  <div class="payment-method-buttons">
    <button class="together" #together (click)="selectPaymentMethod('together')">Pay together</button>
    <button class="validate" #validate (click)="validatePayment()">Validate ➜</button>
    <button class="separately" #separately (click)="selectPaymentMethod('separately')">Pay separately</button>
  </div>

<div class="black" #black></div>
</body>
