.category-title {
  display: flex;
  align-items: center;
}

.category {
  margin-bottom: 6vh;
}

.category-icon {
  height: 7vh;
  width: 7vh;
  margin-right: .5vh;
}

.category-icon mat-icon {
  font-size: 7vh;
}

.category-text {
  margin-top: 1.5vh;
  font-size: 5vh;
}


hr {
  border: none;
  height: 5px;
  background-color: #8BC34AFF;
  opacity:1;
}

.category-up {
  width: fit-content;
}


.no-item {
  text-align: center;
  font-size: 3vh;
  line-height: 1;
}

.item-list {
  font-size: 2.5vh;
  line-height: 2.5vh;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.right-infos {
  align-items: center;
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.right-infos-no-edit {
  align-items: center;
  display: flex;
  justify-content: end;
}

.left-infos {
  max-width: 85%;
  flex-wrap: nowrap;
  display: flex;
}

.left-infos-no-edit {
  flex-wrap: nowrap;
  display: flex;
}

.mat-mini-fab {
  color: white;
  font-size: 2vh;
}

.edit-buttons {
  display: flex;
}

.edit-buttons button {
  height: 4vh;
  width: 4vh;
}

.edit-buttons mat-icon {
  font-size: 3vh;
  transform: translate3d(-.42vh, -.4vh, 0);
}

.prefix {
  display: inline-block;
  white-space: nowrap;
}

.white-font {
  color: white;
}
