<body class="body">
  <div class="header-band">
    <p class="time" *ngIf="time">{{ time | date:"HH:mm:ss" }}</p>
  </div>

  <div class="order-number-text">
    <p>Order number: <br>{{ orderNumber }}</p>
  </div>

  <div class="order-number"></div>

  <div class="estimated-time-text">
    Estimated time: {{ shouldBeReadyAt | date:"shortTime" }}
  </div>

  <div class="estimated-time"></div>

  <div class="footer">
    <img class="logoIntegrated"
         src="../../../assets/resto-logo.png"
         alt="RESTo app logo"/>
    <p class="footer-text">Thank you for your visit!</p>
  </div>
</body>
