<app-switch-to-tabs></app-switch-to-tabs>
<div class="header">
  <img class="logo" src="assets/resto-logo.png" alt="RESTo app logo">
  <p class="welcome-text">Welcome to RESTo</p>
</div>

<div class="content">
<img src="../../../assets/cookie.png" class="cookie-image" alt="Cookie" #cookie (click)="increment()">
</div>
<button class="order-again" (click)="OrderAgain()">🠄 Order again</button>

<div class="alert" #alert>
  <div class="alert-content">
    <div class="alert-text">
      Are you sure you want to order again? <br>
      Be careful to cookie miss-click!
    </div>
    <div class="alert-buttons">
      <button class="alert-confirm" (click)="orderAgain()">Order again</button>
      <button class="alert-cancel" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
