<body class="body">
  <div class="header-band">
    <p class="time" *ngIf="time">{{ time | date:"mediumTime" }}</p>
  </div>

  <div class="order-number-text">
    <p>Order pre-validated!</p>
  </div>

  <button class="modify-button" mat-raised-button (click)="modify()">
    <mat-icon inline=true>edit</mat-icon>
    Modify order
  </button>

  <div class="footer">
    <p class="footer-text">Thank you!</p>
  </div>
  <img class="logoIntegrated"
       src="../../../assets/resto-logo.png"
       alt="RESTo app logo"/>
</body>
